:root{
    --bg-primary: #c92b48;
    --bg-secondary: #FF385C;
}

body{
    /* font-family: "Airbnb" !important; */
    font-family: 'Manrope', sans-serif !important;
    font-weight: 500;
}

/* Fuente Proyecto */

/* Reusables */
.fw-1{
    font-weight: 800 !important;
}
.fw-2{
    font-weight: 700 !important;
}
.fw-3{
    font-weight: 600 !important;
}
.fw-4{
    font-weight: 500 !important;
}
.fw-5{
    font-weight: 400 !important;
}
.fw-6{
    font-weight: 300 !important;
}
.fw-7{
    font-weight: 200 !important;
}

.bg-comp-1{
    background-color: var(--bg-primary) !important;
}
.bg-comp-2{
    background-color: var(--bg-secondary) !important;
}

.color-txt-primary {
    color: #ff6984 !important;
}
.color-success{
    color: #24e230;
}

.btn-1{
    background-color: var(--bg-secondary);
    color: #FFF;
    border-color: var(--bg-secondary)
}

/* END Reusables */

.table > thead{

    color: #fff !important;
}
.table tr th{
    font-weight: lighter !important;
}
.icono-nav{
    font-size: 25px;
}
.bg-general{
    background-color: #ff6984;
}
.border-dropw{
    border-radius: 20px;
    width: 80px;
}
.icon-user{
    background-color: #727272;
    color: #fff;
    border-radius: 50%;
    padding: 5px;
}
.input-buscar{
    width: 70%;
    border-radius: 50px;
    padding: 10px;
}
.icono-input{
    border-radius: 50% !important;
    background-color: #ff6984 !important;
    border: 0;
    color: #fff;
    position: relative;
    left: -45px;
    font-size: 12px;
    font-weight: bold;
    top: 5px;
    width: 35px;
    height: 35px;
}
.carrito{
    border-radius: 60px;
}
.carrito-badge{
    position: absolute;
    top: -60px;
    color: #fff;
}
.btn-carousel{
    border-radius: 50%;
    background-color: transparent;
    color: #727272;
    width: 30px;
    height: 30px;
    position: relative;
    top: 18px;
}
.btn-carousel:hover{
    color: #727272;
}
.icon-cat{
    font-size: 40px;
}
.categorias{
    color: #9c9c9c;
}
/* animacion hover a los iconos de las categorias */
.nav a{
    position: relative;
    display: block;
}
.categorias:hover{
    color: #232323;
}
.categorias:before{
    content: '';
    position: absolute;
    bottom: 0;
    top: 80px;
    width: 40px;
    height: 1.5px;
    background: #9c9c9c;
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
}
.categorias:hover::before{
    transform: scaleX(1);
}
.nav[data-animation="bonus"] a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.82, 0.94);
}
.list-categorias ul{
    overflow-x: hidden;
    list-style: none;
    display: flex;
}
.titulo-logo{
    color: #ff6984;
    font-weight: bold;
    position: relative;
    top: 5px;
    font-size: 20px;
}
#carousel-promo img{
    max-height: 500px;
}
.espacio{
    margin-left: 70px;
}
