.btn-comparte-primary{
    color: white;
    /* background-color: #1dd4d2;
    border-color: #1dd4d2; */
    /* background-color: #009393;
    border-color: #009393; */
    background-color: #FF385C;
    border-color: #FF385C;
}
.btn-comparte-primary:hover{ 
    background-color: #cd2c4a;
    border-color: #cd2c4a;
    /* background-color: #00E0C6;
    border-color: #00E0C6; */
}

.bg-comparte{
    width: 100%;
    height: 43%;
    /* background-color: #1DE2BE; */
    /* background-color: #009393; */
    background-color: #FF385C;
    position: absolute;
    top: 0;
    /* background-image: url("https://measmahoshonen.files.wordpress.com/2018/05/magicals_full.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
}