.color-black23{
    color: #232323;
}
.publicar-group-title > p {
    font-size: .8rem;
}
.bg-primary-com{
    background-color: #FF385C;
}
.button-1{
    background-color: #FF385C;
    color: #FFF;
}
.button-1:hover{
    background-color: #c92b48;
    color: #FFF;
}
.button-2{
    color: #FF385C;
}
.button-2:hover{
    background-color: #fbd1d9;
    color: #FF385C;
}
.bg-comparte{
    width: 100%;
    height: 18rem;
    /* background-color: #1DE2BE; */
    /* background-color: #009393; */
    background-color: #FF385C;
    position: absolute;
    top: 0;
    z-index: -1;
}

.form-card{
    background-color:#FFF;
    box-shadow: -5px 4px 20px -5px rgba(0,0,0,0.43);
    -webkit-box-shadow: -5px 4px 20px -5px rgba(0,0,0,0.43);
    -moz-box-shadow: -5px 4px 20px -5px rgba(0,0,0,0.43);
    border-radius: .3rem;
}
.form-card > img{
    max-width: 22rem;
}
/* Categoria select */
.card-categoria{
    padding: .8rem;
}
.card-categoria:hover{
    cursor: pointer;
}
/* .card-categoria > i{
    color: #757575;
} */
.card-categoria > p{
    font-size: .8rem;
    margin-bottom: 0rem;
}

.category-active{
    color: #FF385C !important;
    border: .9px solid #FF385C;
    border-radius: .5rem;
}
.category-inactive{
    color: #757575 !important;
    border: .9px solid #E1E1E1;
    border-radius: .5rem;
}

/* descripcion */
#desc::placeholder{
    color: #D8D8D8;
}