/* .data-group{
    display: flex;
} */
.data-group-text > span{
    color: black;
    font-size: .9rem;
}
.data-group-text > p{
    margin-bottom: 0;
    font-size: .8rem;
}

.content-card{
    width: 40rem !important;
}

.check-field{
    color: rgb(53, 211, 69) !important;
}

.is-invalid-field{
    color: rgb(211, 53, 53) !important;
}

.file-is-invalid{
    display: inherit !important;
}
.file-is-valid{
    display: none !important;
}